body{
  height: 500px;
  width: 100%;
  margin-top: 60px;
  background-color: #fff;
  color: #333;
}
.flex-contact{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 500px;
}
