footer{
  background-color: #333;
  height: 200px;
  width: 100%;
  bottom:0;
  border-top: 5px solid;
  border-color: #FF8C00;
  color: #fff;
}
.flex-footer{
  display: flex;
  align-items:center;
  justify-content: center;

}
