.user-page{
  width: 100%;
  height: 2000px;
  font-family: nyt-franklin,Helvetica Neue,Arial,sans-serif;
  background-image: url("../img/bgbody.jpg");

}
.flex-user{

  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 250px;
  margin-bottom: 100px;
  color: #fff;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
table th,td,tr{
  border: 2px solid #fff;
  width: 20%;

}
li{
  color: #333;
  font-size: 24px;
}
.flex-selected{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flex-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}
.inner-a button{
  border: none;
  background-color: gold;
}
.inner-b button{
  border: none;
  background-color: silver;
}
.inner-boxa p{
  font-size: 40px;
  color: gold;

}
.inner-boxa li{
  font-size: 24px;
  color: #fff;

}
.inner-boxb li{
  font-size: 24px;
  color: #fff;

}
.inner-boxa a{
  font-size: 18px;
  color: blue;

}
.inner-boxb p{
  font-size: 40px;
  color: gray;

}
.inner-b a{
  font-size: 18px;
  color: blue;

}
.inner-boxa{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border:2px solid;
  border-radius: 12px;
  margin-top: 20px;
  width: 30%;
  height: 300px;
  border-color: #333;
  background: rgba(0,0,0,0.2);
  margin-top: 300px;
}
.inner-a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 30px;
  background-color: gold;
  border-radius: 12px;

}
.inner-b{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 30px;
  background-color: silver;
  border-radius: 12px;

}
.inner-boxb{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border:2px solid;
  border-radius: 12px;
  margin-top: 20px;
  width: 30%;
  height: 300px;
  border-color: #333;
  background: rgba(0,0,0,0.2);
  margin-top: 300px;

}
