
.flex-signup{
  background-color: #fff;

  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.flex-in{
  background-color: #333;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 20%;
  height: 250px;
  position: absolute;
  border: 5px solid;
  border-color: blue;
}
